.message-form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;

  &__inner {
    padding: 0 $indent-horizontal / 2;

    &_wide {
      flex: 1;
    }
  }
}

.message {
  $this: &;

  width: 100%;
  margin-bottom: 1rem;

  &__inner {
    display: inline-block;
    position: relative;
    max-width: 60%;
    text-align: left;
    padding: $indent-horizontal;
    overflow: hidden;
  }

  &__meta {
    color: $text-muted;
    text-align: right;
    margin-top: .4rem;
    font-size: .75rem;
    user-select: none;
  }

  &__status {
    display: inline-block;
  }

  &__time {
    display: inline-block;
  }

  &_system {
    text-align: center;
    color: $text-muted;
    margin: $indent-vertical * 2 0;
  }

  &_get {
    #{$this}__inner,
    #{$this}__image {
      border-radius: 0 $border-radius * 2 $border-radius * 2 $border-radius * 2;
      background-color: lighten($secondary, 3%);
    }
  }

  &_send {
    text-align: right;

    #{$this}__meta {
      color: $primary;
    }

    #{$this}__inner,
    #{$this}__image {
      border-radius: $border-radius * 2 0 $border-radius * 2 $border-radius * 2;
      background-color: $bg-active;
    }
  }

  &_type-image {
    #{$this}__inner {
      padding: 0;
      border: 1px solid $border-color;
    }

    #{$this}__meta {
      position: absolute;
      bottom: $indent-vertical;
      right: $indent-horizontal;
      z-index: 10;
      background: fade-out(darken($black, 7%), .4);
      border-radius: 30px;
      padding: .25rem .75rem;
      color: $text-light;
    }

    #{$this}__image {
      max-width: 400px;
    }
  }
}