// Colors
$black: #333;
$gray: #e2e2e2;
$primary: #3e6bea;
$secondary: #efefef;
$danger: #f00;

// Shadows
$box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);

// Backgrounds
$bg-main: #fff;
$bg-active: fade-out($primary, 0.9);
$bg-dialogs: #fbfbfb;
$bg-primary: $primary;
$bg-secondary: $secondary;
$bg-danger: $danger;

// Border
$border-color: #eaeaea;
$border-radius: 8px;

// Text
$text-main: $black;
$text-muted: #999;
$text-light: #fff;
$text-danger: $danger;
$font-family: 'Inter', Helvetica, sans-serif;

// Transitions
$transition-duration: 200ms;
$transition-timing-function: ease-in-out;
$transition-background: background $transition-duration $transition-timing-function;
$transition-color: color $transition-duration $transition-timing-function;
$transition-border: border $transition-duration $transition-timing-function;
$transition-box-shadow: box-shadow $transition-duration $transition-timing-function;
$transition-all: all $transition-duration $transition-timing-function;

// Input
$input-height: 2.5rem;

// Padding
$indent-vertical: 0.75rem;
$indent-horizontal: 1rem;
