.dialogs {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  border-bottom: 1px solid $border-color;
}

.dialogs-search {
  padding: $indent-vertical $indent-horizontal;
  border-bottom: 1px solid $border-color;
  position: relative;

  &__input {
    padding-left: 3rem;
  }

  &__icon {
    color: $text-muted;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
  }
}

.dialog {
  $this: &;

  width: 100%;
  height: calc(47px + #{$indent-horizontal * 2});
  display: flex;
  align-items: center;
  padding: $indent-vertical 0;
  flex-flow: row nowrap;
  cursor: pointer;

  &_list {
    padding: $indent-horizontal;
    background-color: $bg-dialogs;
    transition: $transition-background;
    will-change: background-color;
    border-bottom: 1px solid $border-color;

    &#{$this}_active,
    &:hover {
      background-color: $bg-active;
    }
  }


  &__information {
    position: relative;
    width: calc(100% - (47px + #{$indent-horizontal}));
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  &__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-top: .4rem;
  }

  &__avatar {
    width: 47px;
    height: 47px;
    overflow: hidden;
    background-color: #EFEFEF;
    border-radius: 50%;
    margin-right: $indent-horizontal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: $text-muted;
    letter-spacing: .05rem;
    flex: 0 0 47px;
  }

  &__avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__author {
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__short-message {
    font-size: .8rem;
    padding-right: .5rem;
    flex: 1;
    line-height: 1.1rem;
    color: $text-muted;
  }

  &__time {
    font-size: .75rem;
    color: $text-muted;
  }

  &__counter {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .75rem;
    border-radius: 50%;
    background-color: $primary;
    color: #fff;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    user-select: none;
  }

  &__sender {
    color: $black;
  }
}