.modal {
  position: fixed;
  z-index: 100;
  background-color: fade-out($black, .7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__window {
    width: 96%;
    max-width: 400px;
    background-color: $bg-main;
    padding: $indent-vertical * 3 $indent-horizontal * 4;
    border-radius: $border-radius * 2;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: $box-shadow;
  }

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    margin-top: $indent-vertical * 3;

    .btn {
      &:not(:last-child) {
        margin-right: $indent-horizontal;
      }
    }
  }
}