// Colors
$primary: #3E6BEA;
$secondary: #EFEFEF;
$black: #333;
$red: #FF0000;

// Shadows
$box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);

// Backgrounds
$bg-main: #fff;
$bg-active: fade-out($primary, .9);
$bg-dialogs: #FBFBFB;
$bg-primary: $primary;
$bg-secondary: $secondary;

// Border
$border-color: #EAEAEA;
$border-radius: 8px;

// Text
$text-main: $black;
$text-muted: #999;
$text-danger: $red;
$font-family: 'Inter', Helvetica, sans-serif;

// Transitions
$transition-duration: 200ms;
$transition-timing-function: ease-in-out;
$transition-background: background $transition-duration $transition-timing-function;
$transition-color: color $transition-duration $transition-timing-function;
$transition-border: border $transition-duration $transition-timing-function;
$transition-box-shadow: box-shadow $transition-duration $transition-timing-function;
$transition-all: all $transition-duration $transition-timing-function;

// Input
$input-height: 2.5rem;

// Padding
$indent-vertical: .75rem;
$indent-horizontal: 1rem;