* {
  box-sizing: border-box;
  outline: none !important;
}

body,
html {
  height: 100%;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background: #fff;
}

button,
input,
textarea {
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 0.9rem;
  border-radius: 8px;
  height: 2.5rem;
  border: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 0.9rem;
}

h1, h2, h3, h4 {
  font-weight: 600;
  margin: 0;
}

form {
  margin: 0;
}

textarea {
  height: auto;
  min-height: 2.5rem;
  resize: none;
}

.input-gray {
  width: 100%;
  height: 2.5rem;
  padding: 0.8rem 1.6666666667rem;
  border-radius: 1.25rem;
  background-color: #EFEFEF;
}

a {
  color: #3E6BEA;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

.btn {
  display: inline-block;
  background-color: #3E6BEA;
  height: 2.5rem;
  border-radius: 1.25rem;
  color: #fff;
  text-align: center;
  min-width: 2.5rem;
  cursor: pointer;
  user-select: none;
}
.btn_active, .btn:hover {
  background-color: #5e84ee;
}
.btn_icon {
  background-color: transparent;
  color: #999;
}
.btn_icon.btn_active, .btn_icon:hover {
  background-color: transparent;
  color: #3E6BEA;
}
.btn_padding {
  padding-left: 2rem;
  padding-right: 2rem;
}
.btn_block {
  display: block;
  width: 100%;
  border-radius: 8px;
  max-width: 24rem;
  margin: 0 auto;
}
.btn_lg {
  font-size: 1rem;
  height: 3rem;
}
.btn_link {
  height: auto;
  background-color: transparent;
  color: #3E6BEA;
}
.btn_link:hover {
  background-color: transparent;
  color: #5e84ee;
}
.btn_danger {
  background-color: #FF0000;
  color: #fff;
}
.btn_danger:hover {
  color: #fff;
  background-color: #ff2424;
}
.btn_secondary {
  background-color: #E2E2E2;
  color: #333;
}
.btn_secondary:hover {
  color: #333;
  background-color: #e7e7e7;
}

.text-muted {
  color: #999;
}

.text-danger {
  color: #FF0000;
}

.text-sm {
  font-size: 0.8rem;
}

.dialogs {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  border-bottom: 1px solid #EAEAEA;
}

.dialogs-search {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #EAEAEA;
  position: relative;
}
.dialogs-search__input {
  padding-left: 3rem;
}
.dialogs-search__icon {
  color: #999;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.dialog {
  width: 100%;
  height: calc(47px + 2rem);
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  flex-flow: row nowrap;
  cursor: pointer;
}
.dialog_list {
  padding: 1rem;
  background-color: #FBFBFB;
  transition: background 200ms ease-in-out;
  will-change: background-color;
  border-bottom: 1px solid #EAEAEA;
}
.dialog_list.dialog_active, .dialog_list:hover {
  background-color: rgba(62, 107, 234, 0.1);
}
.dialog__information {
  position: relative;
  width: calc(100% - (47px + 1rem));
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.dialog__name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dialog__preview {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-top: 0.4rem;
}
.dialog__avatar {
  width: 47px;
  height: 47px;
  overflow: hidden;
  background-color: #EFEFEF;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #999;
  letter-spacing: 0.05rem;
  flex: 0 0 47px;
}
.dialog__avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.dialog__author {
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dialog__short-message {
  font-size: 0.8rem;
  padding-right: 0.5rem;
  flex: 1;
  line-height: 1.1rem;
  color: #999;
}
.dialog__time {
  font-size: 0.75rem;
  color: #999;
}
.dialog__counter {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.75rem;
  border-radius: 50%;
  background-color: #3E6BEA;
  color: #fff;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  user-select: none;
}
.dialog__sender {
  color: #333;
}

.message-form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.message-form__inner {
  padding: 0 0.5rem;
}
.message-form__inner_wide {
  flex: 1;
}

.message {
  width: 100%;
  margin-bottom: 1rem;
}
.message__inner {
  display: inline-block;
  position: relative;
  max-width: 60%;
  text-align: left;
  padding: 1rem;
  overflow: hidden;
}
.message__meta {
  color: #999;
  text-align: right;
  margin-top: 0.4rem;
  font-size: 0.75rem;
  user-select: none;
}
.message__status {
  display: inline-block;
}
.message__time {
  display: inline-block;
}
.message_system {
  text-align: center;
  color: #999;
  margin: 1.5rem 0;
}
.message_get .message__inner,
.message_get .message__image {
  border-radius: 0 16px 16px 16px;
  background-color: #f7f7f7;
}
.message_send {
  text-align: right;
}
.message_send .message__meta {
  color: #3E6BEA;
}
.message_send .message__inner,
.message_send .message__image {
  border-radius: 16px 0 16px 16px;
  background-color: rgba(62, 107, 234, 0.1);
}
.message_type-image .message__inner {
  padding: 0;
  border: 1px solid #EAEAEA;
}
.message_type-image .message__meta {
  position: absolute;
  bottom: 0.75rem;
  right: 1rem;
  z-index: 10;
  background: rgba(33, 33, 33, 0.6);
  border-radius: 30px;
  padding: 0.25rem 0.75rem;
  color: #fff;
}
.message_type-image .message__image {
  max-width: 400px;
}

.main-window {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
}
.main-window_fixed {
  height: 100vh;
}
.main-window__aside {
  width: 300px;
  background-color: #FBFBFB;
  border-right: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
}
.main-window__aside_back {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-window__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.main-area__header {
  width: 100%;
  border-bottom: 1px solid #EAEAEA;
  padding: 0 1.5rem;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-area__footer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #EAEAEA;
  padding: 0.75rem 1rem;
}
.main-area__scroll {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}
.main-area__scroll-inner {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  padding: 0.75rem 1.5rem;
  min-height: 100%;
}
.main-area__flex {
  width: 100%;
  min-height: 100%;
  display: flex;
  padding: 1rem;
}

.error-page {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
}
.error-page > span {
  display: block;
}
.error-page__code {
  font-weight: 600;
  font-size: 5rem;
}
.error-page__text {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.container {
  width: 100%;
  padding: 5rem 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

.empty-message {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  user-select: none;
  font-size: 0.9rem;
  padding: 1rem;
}

.user-detail {
  display: block;
  text-align: center;
  margin-bottom: 5rem;
}
.user-detail__avatar {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  background-color: #EFEFEF;
  border-radius: 50%;
}
.user-detail__display-name {
  display: block;
  margin-top: 2rem;
}

.props-list {
  width: 100%;
  text-align: left;
}
.props-list:not(:last-child) {
  margin-bottom: 3rem;
}
.props-list__li {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}
.props-list__li:not(:last-child) {
  border-bottom: 1px solid #EAEAEA;
}
.props-list__edit {
  text-align: right;
  font-size: 1rem;
  margin: -0.75rem 0;
  width: 50%;
  color: #333;
}
.props-list__edit::placeholder {
  color: #999;
}
.props-list__edit-label {
  display: block;
  width: 50%;
}
.props-list__error {
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
}

.user-avatar-label {
  display: block;
  width: 100%;
  height: 100%;
}

.user-avatar-input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: -1;
}

.user-profile {
  height: 4rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  font-size: 1rem;
  transition: color 200ms ease-in-out, background 200ms ease-in-out;
}
.user-profile:hover {
  color: #3E6BEA;
  background: rgba(62, 107, 234, 0.1);
}

.auth-form {
  width: 100%;
  display: block;
  margin: 2rem 1rem;
  max-width: 26rem;
  background: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 1rem 2rem;
  text-align: center;
}
.auth-form__header {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.action {
  position: relative;
}
.action__window {
  width: 12rem;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}
.action .action-menu {
  margin: -0.75rem -1rem;
}
.action_top {
  bottom: 0;
  margin-bottom: 0.5rem;
}
.action_bottom {
  top: 0;
  margin-top: 2rem;
}
.action_left {
  right: 0;
}
.action_right {
  left: 0;
}

.action-menu {
  font-size: 0.9rem;
}
.action-menu__row {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.action-menu__row_active, .action-menu__row:hover {
  background-color: rgba(62, 107, 234, 0.1);
  color: #3E6BEA;
}
.action-menu__row_danger:hover {
  color: #FF0000;
  background-color: rgba(255, 0, 0, 0.1);
}
.action-menu__row_danger:hover .action-menu__icon {
  color: #FF0000;
}
.action-menu__icon {
  color: #3E6BEA;
  margin-right: 1rem;
}
.action-menu__text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal {
  position: fixed;
  z-index: 100;
  background-color: rgba(51, 51, 51, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__window {
  width: 96%;
  max-width: 400px;
  background-color: #fff;
  padding: 2.25rem 4rem;
  border-radius: 16px;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
}
.modal__buttons {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2.25rem;
}
.modal__buttons .btn:not(:last-child) {
  margin-right: 1rem;
}

/*# sourceMappingURL=main.css.map */
